.divv {
    composes: listReset from global;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.priceBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title {
    font-family: "Abel";
    font-size: 32px;
    line-height: 100%;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}