.divv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.priceBox {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.button {
    border-radius: 9px;
    opacity: 0.3;
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    align-items: center;
}

.active {
    opacity: 1;
    background-color: rgb(83, 188, 83);
    pointer-events: none;
    user-select: none;
}

.loading {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
}