:root {
    --primary-color: #A5D364;
    --font-family: "Inter";
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background: #e7f6ff;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    color: inherit;
    text-decoration: none;
}